#videoFeed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#sticksContainer {
  width: 99%;
  height: 99%;
  margin: auto;
  position: absolute;
  z-index: 20;
}
#stick1 {
  display: inline-block;
  float: left;
  width: 49.5%;
  height: 100%;
}
#stick2 {
  position: static !important;
  display: inline-block;
  float: right;
  width: 49.5%;
  height: 100%;
}

#settings {
  position: static !important;
  display: inline-block;
  float: right;
  width: 15%;
  height: 15%;
  z-index: 30;
}

