<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style/style.css">
        <link rel="icon" type="image/png" href="img/cast_favicon.png" />
    </head>
    <body>
        <span id="features"></span></p>
        <span id="example"></span>
        <img id="videofeed" src="http://192.168.10.1:8080/stream/video.mjpeg" alt="If you see this message check the availability of video stream">
        <div id="sticksContainer">
            <div id="stick1"></div>
            <a href="/settings"><img src="img/tools.png"></a>
            <div id="stick2"></div>
        </div>
    </body>
    <script type="text/javascript" src="javascripts/virtualjoystick.js"></script>
    <script src="javascripts/jquery-1.11.2.min.js"></script>
    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/gyro.js"></script>
    <script type="text/javascript">
      //Define refresh interval (in seconds)
      var interval = 1/10;
      var valY=0;
      var previousIsZero = true;
      var control_mode = '<%= control_mode %>';
      var acc = <%= acc_mode %>;

      console.log(control_mode);

      console.log("Touchscreen is", VirtualJoystick.touchScreenAvailable() ? "available" : "not available");
      var socket = io.connect('http://192.168.10.1:3000');

      //LEFT Stick
      var joystickL = new VirtualJoystick({
        container : document.getElementById('stick1'),
        strokeStyle : 'cyan',
        mouseSupport  : true,
        limitStickTravel: true,
//      stationaryBase:true,
//      baseX   : 200,
//      baseY   : 200,
        stickRadius : 200
      });
          
      // RIGHT Stick
      var joystickR = new VirtualJoystick({
        container : document.getElementById('stick2'),
        strokeStyle : 'orange',
        mouseSupport  : true,
        limitStickTravel: true,
        stickRadius : 200
      });
 
      //Accelerometer initialisation
      gyro.frequency = 100;
      gyro.startTracking(function(o) {
        var b = document.getElementById('example'),
            f = document.getElementById('features');
        // o.Y varie de -5 à 5 lors de l'inclinaison de l'iphone (avant basculement de l'écran), on multiplie par 40 pour arriver à 200
        if (joystickL.deltaY()==0){
          valY= 0;
        }else{
          valY= (o.y)* - 40;
        }
        
      });

      // INTERVAL EVENT
      setInterval(function(){
        // If previous value is 0,0
        if ((joystickL.deltaX() == 0) && (joystickL.deltaY() == 0) && previousIsZero==true){

        }else{
          // Accelerometer mode ?
          if(acc==true){
            socket.emit('coordinate',{DXL: valY, DYL: joystickL.deltaY(), DXR: joystickR.deltaX(),DYR: joystickR.deltaY() });
          }else{
            socket.emit('coordinate',{DXL: joystickL.deltaX(),DYL: joystickL.deltaY(), DXR: joystickR.deltaX(),DYR: joystickR.deltaY() });
          }
          if ((joystickL.deltaX() == 0) && (joystickL.deltaY() == 0)){
            previousIsZero=true;
          }else {
            previousIsZero=false; 
          }
        }
      }, interval *1000);
      
    </script> 
</html>
