<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="img/cast_favicon.png" />
    </head>
    <body>
		<form action="/editsettings" method="POST">
			<fieldset>
				<legend>Driving Control mode:</legend>
				<input type="radio" id="tankControl" name="control_mode" value="tank" <% if(control_mode == "tank") {%> checked <% } %> >Tank
				<input type="radio" id="polarControl" name="control_mode" value="polar" <% if(control_mode == "polar") {%> checked <% } %> >Polar
			</fieldset>
			<fieldset>
				<legend>Camera control :</legend>
				<input type="radio" id="joyControl" name="acc_camera_mode" value="true" <% if(acc_mode == "true") {%> checked <% } %> >Accelerometer
				<input type="radio" id="accControl" name="acc_camera_mode" value="false" <% if(acc_mode == "false") {%> checked <% } %> >Joystick
			</fieldset>
			<input type="submit" value="Submit">
		</form>
		<a href="http://192.168.10.1:8080/panel"> Camera control panel</a>
    </body>
 </html>