<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="img/cast_favicon.png" />
    </head>
    <body>
		<form>
		<input type="checkbox" id="tankCheck" name="control_modeTank" value="tank"  >Tank
		<br>
		<input type="checkbox" id="polarCheck" name="control_modePolar" value="polar"  >Polar
		</form>
    </body>
    <script>

		// Check
		if (<%=acc_mode%> == "tank"){
			document.getElementById("tankCheck").checked = true;
		}else if(<%=acc_mode%> == "tank"){
			document.getElementById("polarCheck").checked = true;
		}
    </script>
 </html>