<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="img/cast_favicon.png" />
    </head>
    <body>
		<form>
		<input type="radio" name="control_mode" value="tank" <% if(acc_mode == "tank") {%> checked <% } %> >Tank
		<br>
		<input type="radio" name="control_mode" value="polar" <% if(acc_mode == "polar") {%> checked <% } %> >Polar
		</form>
    </body>
 </html>